---
import Tailwind from "../icons/Tailwind.astro"
import Playfab from "../icons/Playfab.astro"
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import JavaSc from "../icons/JavaSc.astro"
import React from "../icons/React.astro"
import Git from "../icons/Github.astro"
import Website from "../icons/Website.astro"
// Objecto con los Tags
const TAGS = {
    TAILWIND:{
        name:"Tailwind CSS",
        class:"bg-blue",
        icon: Tailwind
    },

    PLAYFAB:{
        name:"PlayFab",
        class:"bg-blue",
        icon: Playfab
    },
    HTML5:{
        name:"HTML",
        class:"bg-blue",
        icon: HTML

    },
    CSS:{
        name:"CSS",
        class:"bg-blue",
        icon: CSS

    },
    JAVASCRIPT:{
        name:"JavaScript",
        class:"bg-blue",
        icon: JavaSc

    },

    React:{
        name:"React",
        class:"bg-blue",
        icon: React
    }
    

}
/// Objeto con los proyectos
const Projects =[
    {
        title: "Epic_7_Academy",
        src:"images/EpicApp.png",
        tags: [TAGS.React, TAGS.HTML5,TAGS.JAVASCRIPT,TAGS.CSS, TAGS.TAILWIND],
        linkGit: "https://github.com/LegenB/Epic_7_Academy",
        linkWeb: ""
    },
    {
        title: "Easy-JSON",
        src:"images/easyJson.webp",
        tags: [TAGS.React,TAGS.TAILWIND, TAGS.HTML5,TAGS.JAVASCRIPT,TAGS.CSS],
        linkGit: "https://github.com/LegenB/EasyJSON",
        linkWeb: "https://easy-json.netlify.app"
    },
    {
        title: "Gif-App",
        src:"images/gifapp.png",
        tags: [TAGS.React, TAGS.HTML5,TAGS.JAVASCRIPT,TAGS.CSS],
        linkGit: "https://github.com/LegenB/Gif-App",
        linkWeb: "https://heartfelt-moonbeam-d0fd56.netlify.app"
    },
    

]


---
<div class=" grid grid-cols-2 gap-2">
    { 
        Projects.map(({title,src,tags, linkGit, linkWeb}) => (
            
            
            <div class=" col-span-1 group w-[360px] mb-4 bg-gray-8900 border border-green-500 rounded-lg shadow-md  hover:shadow-lg hover:shadow-lime-700 transition bg-gray-900">
    
                <div class=" p-1 flex justify-center shadow-pink-700  drop-shadow-xl transition duration-500">
                    <img class="rounded-lg w-full transition duration-300" src={src} alt="" />
                </div>
    
                <div class="p-2 mb-2">
                    <div class=" flex justify-center mb-3">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-lime-300">
                            <h3 class="font-bold   text-xl lg:text-2xl">{title}</h3>
                        </span>
                        
                                               
                    </div>
                    
                  
                    <ul class="flex gap-x-2 flex-wrap justify-center mb-3">
    
                        {tags.map((tag) =>( 
                        <li>
                            <span class={`flex gap-x-2 rounded-full bg-slate-900 px-2 py-1 mb-2 text-xs items-center border border-green-600 transition duration-500  ${tag.class}`}>
                                <tag.icon class=" size-5 brightness-100 transition duration-500 "/>
                                {tag.name}
                            </span>
                        </li>
                    ))}
                    </ul>
                    
                    <div class="flex justify-around">
                        
                        {    
                            linkGit && 
                            <a  href={linkGit} target="_blank" type="button" class=" group/git border hover:border-lime-300  rounded-full size-10 flex justify-center items-center  ">
                                <Git class=" group-hover/git:text-lime-300"/>
                            </a> 
                        }
                        
                        {
                            linkWeb && 
                            <a  href={linkWeb} target="_blank" type="button" class=" group/web border hover:border-sky-300  rounded-full size-10 flex justify-center items-center  ">
                                <Website class=" group-hover/web:text-sky-300 "/>
                            </a>
                        }
                        
                    </div>
                </div>
            </div>
     
            
           
        ))
    }
</div>



